/*Titel in der mitte*/
body{
    vertical-align: middle;
    text-align: center;
}

/*Tabellen Rand anzeigen*/
td {
	border:  2px solid rgb(0, 0, 0);
	height:  100px;
	width:  100px;
	text-align:  center;
    vertical-align:  middle;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:  70px;
    cursor: pointer;
}
/*Tabelle zusammenführen, zentrieren*/
table {
	border-collapse: collapse;
    position: absolute;
    left: 50%;
	margin-left: -155px;
    top: 150px;
}

/*Tabelle ausserster Rahmen entfernen entfernen*/
table td{
    border-left: 0;
    border-top:0;
}
table td:last-child{
    border-right: 0;
}
table tr:last-child td{
    border-bottom: 0;
}

button{
    border-radius: 4px;
    font-size: 17px;
}

.reset{
    font-size: 11px
}